@{
    ViewBag.Title = "About";
}

<div class="well">
    <p class="lead">
        In the summer of 2015, I had the chance to participate in a Red Cross program where I volunteered at a retirement
        home and met senior citizens in Taiwan. During my one week there, I have drawn some greeting cards and given them to the seniors.  
        One lady even made me promise her to continue sending my handmade card to her after I came home.  I kept my promise.  
        From her reply postcard, I realized how much joy can be brought to one person with something as simple as a hand-drawn card.
    </p>
    
    <p class="lead">
        I decided to take this instance and expand it on a grander scale.
    </p>

    <p class="lead">
        Sending a card to someone is so much more than gifting a piece of paper with a message- It shows a
        person that you care about them and have been thinking of them. This is the reason why I decided to
        build this website and help spread positive energy by providing a service where people can customize
        messages and send hand-made cards to people that they love.
    </p>

    <p class="lead">
        This service is completely free. All cards are designed by me, and postage will be paid by me. At this
        time, my part-time job as a tutor allows spending a maximum of $50 per month on supplies and postage. I
        hope in the future, I can raise funds and expand the amount of cards I can send per month.
    </p> 

    <div class="lead">
        <div class="updateMessage"> Update: 02/04/2017 </div>
        I became a Computer Science student in Binghamton University last September. Since then, I have acquired 
        new skills to better build a website. Some of my classmates have joined me and we are currently working on 
        rebuilding this site with new technologies.  We are also thinking of new ideas to expand this charity 
        program. Please check back soon. 
    </div> 
</div>

