@{
    ViewBag.Title = "Contact";
}
<h2>Please contact me if you have any question about this website.</h2>
<h3>Samantha Chu</h3>

<address>
    Great Neck South High School<br />
</address>
<address>
    <strong>Email:</strong>   <a href="mailto:Samantha.Chu@gmail.com">Samantha.Chu@gmail.com</a><br />
</address>